<!doctype html>
<html>
<head>
   <meta charset="utf-8" />
    <title></title>
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="{{url_for('static', filename='footer.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>{{c}}'s Historical</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_history.css') }}">
  <link rel="icon" href="{{url_for('static', filename='12233.ico')}}" type="image/icon type">
</head>


<body style="width:100%;">
<div class="page">
  <h1>{{c}}</h1>
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
</div>
<div>
<a href="#" class="previous">&laquo; Previous</a>
<a href="#" class="next">Next &raquo;</a>

<a href="#" class="previous round">&#8249;</a>
<a href="#" class="next round">&#8250;</a>
</div>

<div class="wrapper flex-grow-1" >


    <!-- footer -->
    <div class="footer" >
        <div class="container" style="height:260px;">
            <div class="row" >
                <div class="col-md-4 col-xs-12">
                    <div class="first">
                        <h4>Technologies</h4>
                        <p> <a href="https://www.python.org/" target="_blank">Python</a></p>
                        <p> <a href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a> </p>
                        <p> <a href="https://www.heroku.com/" target="_blank">Heroku</a> </p>
                        <p> <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="second">
                        <h4> Navigate</h4>
                        <ul>
                            <li><a href="{{url_for('home')}}">Home</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="third">
                        <h4> Contact</h4>
                        <ul>
                            <li><i class="far fa-envelope"></i> teamamoa@inpt.ac.ma</li>
                            <li><i class="far fa-envelope"></i> hisham.yum@gmail.com</li>
                            <li><i class="fas fa-map-marker-alt"></i> Rabat, Morocco </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="line"></div>
                    <div class="second2">
                        <a href="https://www.twitter.com/" target="_blank"> <i class="fab fa-twitter fa-2x margin"></i></a>
                        <a href="https://github.com/HishamYUM/Bitcoin" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>
